@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/6.1.1/css/font-awesome.min.css");



:root{
  --dark-header-mode-background: hsl(209, 23%, 22%);
  --dark-mode-text: hsl(0, 0%, 100%);
  --dark-body-mode-background: hsl(207, 26%, 17%);
}

#root{
  background-color: var(--dark-body-mode-background);
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-header-mode-background);
  color: var(--dark-mode-text);
  height: 10vh;
}

.header-left, .header-right{
  height: 25px;
}

.header-left{
  padding-left: 50px;
} 

.header-left p{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  height: 25px;
}

.header-right{
  padding-right: 50px;
} 

.header-rightt p{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

.span-right{
  margin-left: 15px;
}

.input-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-body-mode-background);
  height: 14vh;
}

.form-group input{
  background-color: var(--dark-header-mode-background);
  border: 0;
  font-family: "Font Awesome";
}

.form-group input::placeholder{
  color: var(--dark-mode-text);
}

.form-group{
  width: 30vw;
}

.has-search .form-control {
  padding-left: 2.5rem;
}

.input-left{
  margin: 15px 0px 0px 50px;
}

.input-right{
  margin: 15px 50px 0px 0px;
  width: 20vw;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: var(--dark-mode-text);
}

.btn:focus{
  outline: none !important;
  box-shadow: none !important;
}

.btn-input, .dropdown{
  width: 100%;
}

.btn-input{
  background-color: var(--dark-header-mode-background) !important;
  border: none !important;
}
.dropdown-menu, .dropdown-item{
  background-color: var(--dark-header-mode-background) !important;
  color: var(--dark-mode-text) !important;
}

.body{
  background-color: var(--dark-body-mode-background);
  color: var(--dark-mode-text);
  min-height: 76vh;
  max-width: 100vw;
}

.body{
  padding: 0px 30px 0px 50px;
  align-content: space-between;
  justify-content: space-between;
}

.country-container{
  height: 37vh;
}

.country{
  background-color: var(--dark-header-mode-background);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.country img{
  height: 95px;
}

.details span{
  font-family: 'Nunito sans', sans-serif;
  font-weight: 200;
}

.details h6{
  font-family: 'Nunito sans', sans-serif;
  font-weight: 400;
}

.details h5{
  font-family: 'Nunito sans', sans-serif;
  font-weight: 600;
}


















